<div class="row">
	<div class="col-xs-12">
		<div>
			<!--h1>NASCAR Fantasy Race Data</h1-->
			<h1>Browse raw and professionally analyzed data concerning everything NASCAR.</h2>
		</div>
	</div>
	<div class="col-xs-12" style="text-align: center;">
		<div id="raceQuery" class="navbar navbar-default">
		<div id="raceSelector" class="navbar-form navbar-left">
			<div class="form-group">
				<select class="form-control" ng-model="selectedYear">
					<option value="">All</option>
					<option ng-repeat="race in races | unique:'year' | orderBy">{{race.year}}</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" ng-model="selectedSeries">
					<option value="">All</option>
					<option ng-repeat="race in races | unique:'series' | filter : {year:selectedYear} | orderBy">{{race.series}}</option>
				</select>
			</div>
			<div class="form-group">
				<select class="form-control" ng-model="selectedRace" ng-change="selectedRaceChange()" ng-options=" ''+ raceDate(race.date) + ' - ' + race.name for race in races | filter : {series:selectedSeries} | filter : {year:selectedYear} | orderBy : raceSortFilter">
					<option value="">Select A Race</option>
				</select>
				<button ng-click="sortRace()"><i ng-class="raceSort"></i></button>
			</div>
			<!--div class="form-group">
				<button ng-click="sortRace()"><i ng-class="raceSort"></i></button>
			</div-->
		</div>
		</div>
	</div>
</div>
<!--div>queryRace: {{queryRace}}</div>
<div>queryChart: {{queryChart}}</div>
<div>selectedChart: {{selectedChart}}</div>
<div>selectedYear: {{selectedYear}}</div>
<div>selectedSeries: {{selectedSeries}}
<div>selectedRace: {{selectedRace}}</div>
<div>selectedRaceId: {{selectedRace.id}}</div>
<div>chartConfig: {{chartConfig}}</div-->

<div ng-if="hasActiveRace">

	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-model="selectedChart" ng-repeat="chart in charts" ng-class="{'active':chartIsActive(chart)}"><a ng-click="selectedChartChange(chart)">{{chart.name}}</a></li>
		</ul>
	</div>
	<div class="row">
		<div class="col-xs-12" ng-if="selectedChart.id == 1">
			<highchart style="height:800" id="chart1" config="pctoConfig" class="span12"></highchart>
		</div>
		<div style="height:800" class="col-xs-12" ng-if="selectedChart.id == 2">
			<highchart style="height:800" id="chart2" config="madsConfig" class="span12"></highchart>
		</div>
		<div class="col-xs-12" ng-if="selectedChart.id == 3">
			3
		</div>
		<div class="col-xs-12" ng-if="selectedChart.id == 4">
			<highchart style="height:800" id="chart4" config="exfpConfig" class="span12"></highchart>
		</div>
		<div class="col-xs-12" ng-if="selectedChart.id == 5">
			5
		</div>
		<div class="col-xs-12" ng-if="selectedChart.id == 6">
			<br>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<tbody>
						<tr>
							<th>Driver</th>
							<th>Projected Finish Position</th>
							<th>Win Probability (%)</th>
							<th>Projected Fantasy Points</th>
							<th>Excess Value</th>
							<th>Starting Position</th>
							<th>Practice Rank</th>
						</tr>
						<tr ng-repeat="row in tableWinProb track by $index">
							<td><img class="img-thumbnail" ng-src="{{row.picUrl}}"></img><div>#{{row.num}} {{row.name}}</div></td>
							<td>{{row.pFinPts | number : 1}}</td>
							<td>{{row.winPerc | number : 1}}%</td>
							<td>{{row.pFanPts | number : 1}}</td>
							<td>{{row.exVal | number : 1}}</td>
							<td>{{row.posStart}}</td>
							<td>{{row.rankPractice}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<div class="row">
		<div class="col-xs-12">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<!--div>disqusShortName: {{ disqusShortName }}</div>
			<div>disqusIdentifier: {{ disqusIdentifier }}</div>
			<div>disqusUrl: {{ disqusUrl }}</div>
			<div>disqusTitle: {{ disqusTitle }}</div-->
			<dir-disqus disqus-shortname="{{ disqusShortName }}"
				disqus-identifier="{{ disqusIdentifier }}"
				disqus-url="{{ disqusUrl }}" disqus-title="{{ disqusTitle }}" ready-to-bind="{{ disqusReady }}">
			</dir-disqus>
		</div>
	</div>
</div>
