<!DOCTYPE html>
<html data-ng-app="prfApp" data-ng-controller="prfController">

<head>
	<title>Pit Rho - NASCAR Fantasy</title>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-cookies.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.js"></script>
	<!--script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-utils/0.1.1/angular-ui-utils.min.js"></script-->
	<script type="text/javascript" src="../app/app.js"></script>
	

	<script type="text/javascript" src="../app/RaceData/raceDataFactory.js"></script>
	<script type="text/javascript" src="../app/Affiliate/affiliateFactory.js"></script>
	<script type="text/javascript" src="../app/Login/loginFactory.js"></script>

	<script type="text/javascript" src="../app/RaceData/raceDataController.js"></script>
	<script type="text/javascript" src="../app/Affiliate/affiliateController.js"></script>
	<script type="text/javascript" src="../app/Login/loginController.js"></script>
	<script type="text/javascript" src="../app/Landing/landingController.js"></script>
	<script type="text/javascript" src="../app/Contact/contactController.js"></script>
	


	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

	<link href='../app/style.css' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,300italic' rel='stylesheet' type='text/css'>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

	<script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
	<script type="text/javascript" src="http://code.highcharts.com/modules/exporting.js"></script>
	<script type="text/javascript" src="../scripts/highcharts-ng.min.js"></script>
	<script type="text/javascript" src="../scripts/dirDisqus.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body  ng-class="{'modal-open': loginModal}" style="display:block; height:100%" class="blank">
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a href="/#!/"><div class='pitrho_nav_logo'></div></a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="navbar-collapse" ng-class="{collapse: isCollapsed}">
					<ul class="nav navbar-nav">
						<li>
							<a ng-click="isCollapsed = true" href="/#!/racedata">Fantasy</a>
						</li>
						<li ng-if="login">
							<a ng-click="isCollapsed = true" href="/#!/affiliate">Affiliate Dashboard</a>
						</li>
					</ul>

					<form class="navbar-form navbar-right">
					<button ng-click="isCollapsed = true; loginBtnPress()" title="Affiliate Log In" class="btn btn-default">{{loginLabel}}</button>
					</form>

					<ul class="nav navbar-nav navbar-right">
						<li>
								<a ng-click="isCollapsed = true" title="Learn About PitRho" href="/#!/about"><i class="fa fa-info"></i></a>
						</li>
						<li>
								<a ng-click="isCollapsed = true" title="Contact PitRho" href="/#!/contact"><i class="fa fa-envelope-o"></i></a>
						</li>
					</ul>

				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>

		<div class="container">
			<div data-ng-view></div>
		</div>

		<!--login modal-->
		<div class="modal fade bs-example-modal-sm" ng-class="{in : loginModal}" ng-style="loginStyle" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="{{!loginModal}}">
			<div ng-if="loginModal" ng-click="hideLogin()" class="modal-backdrop fade in" style="height: 995px;"></div>
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" ng-click="hideLogin()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">Affiliate Log In</h4>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Email address</label>
								<input type="email" ng-model="loginEmail" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
							</div>
							<div class="form-group">
								<label for="exampleInputPassword1">Password</label>
								<input type="password" ng-model="loginPass" class="form-control" id="exampleInputPassword1" placeholder="Password">
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" ng-click="hideLogin()">Cancel</button>
						<button type="button" class="btn btn-primary" ng-click="execLogin()">Log In</button>
					</div>
				</div>
			</div>
		</div>

	</div>
	
	<footer class="footer">
		<div class="container-fluid">
			<div class="row-fluid">
				<p class="navbar-text pull-left">&copy; Copyright Pit Rho 2015</p>

				<a class="navbar-text text-center" href="/#!/tos" title="Terms of Service"><i class="fa fa-file-text-o"></i></a>
				<a class="navbar-text text-center" href="/#!/privacy" title="Privacy"><i class="fa fa-eye"></i></a>

				<a class="navbar-text pull-right" href="https://github.com/pitrho/" target="_blank" title="Follow Pit Rho on GitHub"><img style="height:18px" src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Logo.png"></a>
				<a class="navbar-text pull-right" href="https://twitter.com/pitrho" target="_blank" title="Follow Pit Rho on Twitter"><img style="height:20px" src="https://g.twimg.com/Twitter_logo_blue.png"></a>
				<a class="navbar-text pull-right" href="https://www.facebook.com/PitRho" target="_blank" title="Follow Pit Rho on Facebook"><img style="height:20px" src="https://www.facebookbrand.com/img/assets/asset.f.logo.lg.png"></a>
				
				
			

		</div>
	</footer>
</body>

</html>