<div class="col-sm-12">
	<h1 id="contact-us">Contact us</h1>
	<ul style="list-style-type:none">
		<li>
			<a href="mailto:info@pitrho.com" title="Contact Pit Rho">
				info@pitrho.com</a>
		</li>
	</ul>
</div>