<div class="WordSection1">

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><u><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">Terms of Use</span></u></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Welcome to Pit Rho,
the online and mobile service of Pit Rho, Inc. (“Pit Rho,” “we,” or “us”).
These Terms of Use (this “Agreement”) explain the terms by which you may use
the Pit Rho web site, our application for mobile devices (“Mobile Software”),
and other online or mobile services we may provide (collectively, the
“Service”).&nbsp; Please read this Agreement carefully before using the Pit Rho
Service. By accessing or using the Service, you agree that you have read,
understood, and agree to be bound by this Agreement, and to the collection and
use of your information as set forth in the Pit Rho Privacy policy, whether or
not you are a registered user of our Service.&nbsp;&nbsp; This Agreement
applies to all visitors, users, and others who access the Service (“Users”).</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">THIS AGREEMENT
CONTAINS A MANDATORY ARBITRATION OF DISPUTES PROVISION THAT REQUIRES THE USE OF
ARBITRATION ON AN INDIVIDUAL BASIS TO RESOLVE DISPUTES, RATHER THAN JURY TRIALS
OR CLASS ACTIONS.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">1. HOW WE UPDATE THESE TERMS OF USE</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Pit Rho reserves
the right, in its sole discretion, to modify or replace this Agreement from
time to time, and so you should review this page periodically.&nbsp; When we
change the Agreement in a material way, we will update the ‘last updated’ date
at the bottom of this page.&nbsp; Your&nbsp;continued&nbsp;use of the Service
after any such change constitutes your acceptance of the new terms.&nbsp; If
you do not agree to any of these terms or any future terms, do not use or
access (or continue to access) the Service.</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">2. USE OF OUR SERVICE</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Eligibility.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Because we respect the rights of
children and parents, you may use the Pit Rho Service only if you can form a
binding contract with Pit Rho, and only in compliance with this Agreement and
all applicable local, state, national, and international laws, rules and
regulations.&nbsp; Any use or access to the Service by anyone under 13 is
strictly prohibited and in violation of this Agreement.&nbsp; Because we
respect the Pit Rho community, the Service is not available to any Users
previously removed from the Service by Pit Rho.&nbsp; The Service is provided
for your personal, noncommercial use only.&nbsp; You may not use the Service
for any commercial purposes.</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Pit Rho Accounts.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">You can browse Pit Rho and enjoy the
Service without registering for a Pit Rho account.&nbsp; In order to post any
User Content or access certain features of the Service, however, you must
register for an account with Pit Rho (which may include connecting to Pit Rho
through a third-party service) and select a password and screen name ("Pit
Rho User ID"). You may not select or use as a Pit Rho User ID any name
that we determine to be offensive, vulgar or obscene. Pit Rho reserves the
right to refuse registration of, or cancel a Pit Rho User ID or a User account
in its sole discretion. When creating your account, you must provide accurate
and complete information.&nbsp; We reserve the right to reclaim Pit Rho User
IDs on behalf of businesses or individuals that hold legal claim or trademark
on those usernames.&nbsp; You are responsible for maintaining the
confidentiality of your Pit Rho password. &nbsp;By connecting to Pit Rho with a
third-party service like Facebook, you give us permission to access and use
your information from that service as permitted by that service, and to store
your log-in credentials for that service.&nbsp; For more information on the
types of information we collect from these third-party services, please read
our privacy policy. By ACCESSING OR signing up for an account with the Service,
you agree to receive text messages from other Users in accordance with THE
“GROUP MESSAGING AND TEXT MESSAGES ON THE SERVICE” SECTION BELOW.&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">c.&nbsp;&nbsp; Your responsibility for your account:&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">You are solely responsible for the
activity that occurs on or through your account, and you must keep your account
password secure. You must notify Pit Rho immediately of any breach of security
or unauthorized use of your account.&nbsp; Pit Rho will not be liable for your
losses caused by any unauthorized use of your account, and you shall be solely
liable for the losses of Pit Rho or others due to such unauthorized use.&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">d.&nbsp; Groups.</span></b><span style="font-size:12.0pt;
font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Times;color:#434343">&nbsp; Pit Rho may allow Users to create or join groups on
the Service in order to share articles&nbsp;and other content, and to send SMS
text messages to other Group members (a “Group”).&nbsp; If you are added to a
Group&nbsp;by a User, you may be sent an SMS text message with a unique
hyperlink to directly access your Group’s page.&nbsp; Anyone with access to
this unique hyperlink will be able access your group on the Service using your
name, and so you agree to keep the Group’s page hyperlink
secure.&nbsp;You&nbsp;can remove yourself from a Group by following the
instructions on the Service.&nbsp; For more information, see the “Group
Messaging and Text Messages on the Service” section below.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">e.&nbsp; How to control your account.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">You may control your User profile and
how you interact with the Service by changing the settings on your profile
page.<b>&nbsp;&nbsp;</b>For more information on how you can control the types
of information we collect, please read our&nbsp;</span><span style="mso-field-code:
&quot; HYPERLINK \0022http\:\/\/bleacherreport\.com\/pages\/privacy\0022 \\t \0022_blank\0022 &quot;"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp;privacy policy&nbsp;</span></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">.</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">f.&nbsp;&nbsp;&nbsp; Your interaction with other
Users.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">You are solely responsible for your interactions with other
Users.&nbsp; We reserve the right, but have no obligation, to monitor disputes
between you and other Users.&nbsp; Pit Rho will have no liability for your
interactions with other Users, or for any User’s action or inaction.&nbsp;
Please be good to one another.<b>&nbsp;</b></span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">g.&nbsp; Changes to the Service.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Here at Pit Rho, we’re always
innovating and finding ways to provide our Users with new and innovative
features and services.&nbsp; Therefore, Pit Rho may, without prior notice,
change the Service; stop providing the Service or features of the Service, to
you or to Users generally; or create usage limits for the Service.&nbsp; We may
permanently or temporarily terminate or suspend your access to the Service
without notice and liability for any reason, including if in our sole
determination you violate any provision of this Agreement, or for no
reason.&nbsp; Upon termination for any reason or no reason, you continue to be
bound by this Agreement.</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">3. RESTRICTIONS ON USE OF THE PIT RHO SERVICE&nbsp;</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">YOU MAY NOT USE THE
SERVICE FOR ANY ILLEGAL PURPOSE OR IN ANY MANNER INCONSISTENT WITH THE TOS. YOU
AGREE TO USE THE SERVICE SOLELY FOR YOUR OWN NONCOMMERCIAL USE AND BENEFIT, AND
NOT FOR RESALE OR OTHER TRANSFER OR DISPOSITION TO, OR USE BY OR FOR THE BENEFIT
OF, ANY OTHER PERSON OR ENTITY. YOU AGREE NOT TO USE, TRANSFER, DISTRIBUTE, OR
DISPOSE OF ANY INFORMATION CONTAINED IN THE SERVICE IN ANY MANNER THAT COULD
COMPETE WITH THE BUSINESS OF PIT RHO OR ANY OF ITS SUPPLIERS. YOU MAY NOT COPY,
REPRODUCE, RECOMPILE, DECOMPILE, DISASSEMBLE, REVERSE ENGINEER, DISTRIBUTE,
PUBLISH, DISPLAY, PERFORM, MODIFY, UPLOAD TO, CREATE DERIVATIVE WORKS FROM,
TRANSMIT, OR IN ANY WAY EXPLOIT ANY PART OF THE SERVICE, EXCEPT THAT YOU MAY
DOWNLOAD MATERIAL FROM THE SERVICE AND/OR MAKE ONE PRINT COPY FOR YOUR OWN
PERSONAL, NONCOMMERCIAL USE, PROVIDED THAT YOU RETAIN ALL COPYRIGHT AND OTHER
PROPRIETARY NOTICES. YOU MAY NOT RECIRCULATE, REDISTRIBUTE OR PUBLISH THE
ANALYSIS AND PRESENTATION INCLUDED IN THE SERVICE WITHOUT PIT RHO'S PRIOR
WRITTEN CONSENT. MODIFICATION OF THE SERVICE'S CONTENT WOULD BE A VIOLATION OF
THE COPYRIGHTS AND OTHER PROPRIETARY RIGHTS OF PIT RHO. ADDITIONALLY, YOU MAY
NOT OFFER ANY PART OF THE SERVICE FOR SALE OR DISTRIBUTE IT OVER ANY OTHER
MEDIUM INCLUDING BUT NOT LIMITED TO OVER-THE-AIR TELEVISION OR RADIO BROADCAST,
A COMPUTER NETWORK OR HYPERLINK FRAMING ON THE INTERNET WITHOUT THE PRIOR
WRITTEN CONSENT OF PIT RHO. THE SERVICE AND THE INFORMATION CONTAINED THEREIN
MAY NOT BE USED TO CONSTRUCT A DATABASE OF ANY KIND. NOR MAY THE SERVICE BE
STORED (IN ITS ENTIRETY OR IN ANY PART) IN DATABASES FOR ACCESS BY YOU OR ANY
THIRD PARTY OR TO DISTRIBUTE ANY DATABASE SERVICES CONTAINING ALL OR PART OF
THE SERVICE. YOU MAY NOT USE THE SERVICE IN ANY WAY TO IMPROVE THE QUALITY OF
ANY DATA SOLD OR CONTRIBUTED BY YOU TO ANY THIRD PARTY. FURTHERMORE, YOU MAY
NOT USE ANY OF THE TRADEMARKS, TRADE NAMES, SERVICE MARKS, COPYRIGHTS, OR LOGOS
OF PIT RHO IN ANY MANNER WHICH CREATES THE IMPRESSION THAT SUCH ITEMS BELONG TO
OR ARE ASSOCIATED WITH YOU OR, EXCEPT AS OTHERWISE PROVIDED HEREIN, ARE USED
WITH PIT RHO'S CONSENT, AND YOU ACKNOWLEDGE THAT YOU HAVE NO OWNERSHIP RIGHTS
IN AND TO ANY OF SUCH ITEMS. YOU WILL NOT USE THE SERVICE OR THE INFORMATION
CONTAINED THEREIN IN UNSOLICITED MAILINGS OR SPAM MATERIAL. YOU WILL NOT USE
ANY TRADEMARKS, TRADE NAMES, SERVICE MARKS, COPYRIGHTS, OR LOGOS OF PIT RHO OR
SEND UNSOLICITED MAILINGS TO ANY PERSON OR ENTITY USING THE SERVICE. YOU AGREE
TO COMPLY WITH ANY OTHER APPLICABLE TERMS AND CONDITIONS OF SERVICE SET FORTH
ON THE SERVICE.&nbsp;</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">4. SHARING YOUR&nbsp;CONTENT&nbsp;</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Your content.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Pit Rho allows you to post content on
the Service, including comments, photos, blog posts, messages, blog URLs, and
other materials.&nbsp; Any content a User submits, posts, displays, or
otherwise makes available on the Service, including all Intellectual Property
Rights (defined below) therein, is referred to as “User Content.”&nbsp;&nbsp;<b>YOU
RETAIN OWNERSHIP OF YOUR USER CONTENT.</b>&nbsp;</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; How Pit Rho and other Users can use your
content.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">You own all of the User Content that you post or publish
(“post”) on the Service.&nbsp;You grant us a non-exclusive, perpetual,
irrevocable, royalty-free, transferable, sublicensable, worldwide license to
use, reproduce, sell, offer to sell, translate, modify, publicly perform,
publicly display, distribute, and make derivative works of&nbsp;your&nbsp;User
Content on the Service and in all forms and media now or hereafter known for
the purposes of operating and providing the Service to you and our Users.&nbsp;
Nothing in this Agreement shall restrict Pit Rho’s rights under separate
licenses to User Content.<b>&nbsp;</b></span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">&nbsp;c.&nbsp;&nbsp; Your responsibility for your
content.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">By uploading, posting, submitting or otherwise disclosing or
distributing User Content, you represent and warrant that you own all rights in
your User Content and that any User Content you post does not and will not
violate third-party rights of any kind, including without limitation any
Intellectual Property Rights (defined below) or rights of publicity or
privacy.&nbsp; Pit Rho reserves the right, but is not obligated, to reject
and/or remove any User Content that we believe, in our sole discretion,
violates these provisions.&nbsp; Pit Rho takes no responsibility and assumes no
liability for any User Content that you or any other Users or third parties
post or send over the Service. You understand and agree that any loss or damage
of any kind that occurs as a result of the use of any User Content that you
send, upload, download, stream, post, transmit, display, or otherwise make
available or access through your use of the Service, is solely your
responsibility, and you agree that we are only acting as a passive conduit for
your online distribution and publication of your User Content.&nbsp; Pit Rho is
not responsible for any public display or misuse of your User Content.&nbsp;
You understand and acknowledge that you may be exposed to User Content that is
inaccurate, offensive, indecent, or objectionable, and you agree that Pit Rho
shall not be liable for any damages you allege to incur as a result of such
User Content.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">d.&nbsp; Definition of Intellectual Property Rights.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">For the purposes of this Agreement,
“Intellectual Property Rights” means all patent rights, copyright rights, mask
work rights, moral rights, rights of publicity, trademark, trade dress and
service mark rights, goodwill, trade secret rights and other intellectual
property rights as may now exist or hereafter come into existence, and all
applications therefore and registrations, renewals and extensions thereof,
under the laws of any state, country, territory or other jurisdiction.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">e.&nbsp; User</span></b><span style="font-size:12.0pt;
font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Times;color:#434343">&nbsp;<b>Content Programs.&nbsp;&nbsp;</b>We may provide
various opportunities and programs relating to User Content on the Service
(“User Content Programs”).&nbsp; Some User Content Programs may require you to
submit an application to participate, which Pit Rho may approve or deny in its
sole discretion.&nbsp; Your use of the Service, including without limitation
participation in any User Content Program, is strictly on a volunteer basis for
the benefit of you and the public at large, and does not form an
employer-employee relationship, partnership, or co-authorship between you and
Pit Rho.&nbsp; While Pit Rho may reward you for your participation in a User
Content Program, you will not receive any compensation of any type for your participation,
and you acknowledge that you are participating in the program solely for your
own personal benefit and desire to contribute to the program.&nbsp; You
acknowledge and agree that Pit Rho does not have the right to and shall not
control the manner and method in which you may create your User Content.&nbsp;
Any suggestions Pit Rho may make about your User Content are only suggestions,
based on our understanding of how Users typically access Content and use the
Service.&nbsp; You are not required to implement any suggestion made by Pit Rho
regarding your User Content or to perform any requested activity or task, and
you do so at your own volition and risk.&nbsp; You agree that you are the sole
author of your User Content, and that Pit Rho does not participate in the
creation of any of your User Content.&nbsp;</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">5.&nbsp; OUR CONTENT</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Pit Rho Content.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Except for User Content, the Service,
and all Intellectual Property Rights therein and related thereto, are the
exclusive property of Pit Rho and its licensors (“Pit Rho Content”).&nbsp;
Except as explicitly provided herein, nothing in this Agreement shall be deemed
to create a license to the Pit Rho Content, and you agree not to sell, license,
rent, modify, distribute, copy, reproduce, transmit, publicly display, publicly
perform, publish, adapt, edit or create derivative works from the Pit Rho
Content, "Pit Rho" and&nbsp;other Pit Rho graphics, logos, designs,
page headers, button icons, scripts, and service names are trademarks,
trademarks or trade dress of Pit Rho protected by the laws of the United States
and/or other countries or jurisdictions. Pit Rho's trademarks and trade dress may
not be used, including as part of trademarks and/or as part of domain names, in
connection with any product or service in any manner that is likely to cause
confusion.&nbsp; Use of the Pit Rho Content or materials on the Service for any
purpose not expressly permitted by this Agreement is strictly prohibited.
&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Our license to you.</span></b><span style="font-size:
12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Times;color:#434343">&nbsp; Subject to the terms and conditions of this
Agreement, Pit Rho provides you with a license to use the Service for your
personal, noncommercial use only and as expressly permitted by the features of
the Service.&nbsp; Pit Rho may terminate this license at any time for any
reason or no reason.</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">c.&nbsp;&nbsp; Feedback you provide.</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp; We value input from our Users,
and are always interested in learning of ways we can make Pit Rho better.&nbsp;
You may choose to or we may invite you to submit comments, ideas or feedback
about the Service, including without limitation about how to improve the
Service or our products (“Feedback”).&nbsp; By submitting any Feedback, you
agree that your disclosure is gratuitous, unsolicited and without restriction
and will not place Pit Rho under any fiduciary or other obligation, and that we
are free to use the Feedback without any additional compensation to you, and/or
to disclose the Feedback on a non-confidential basis or otherwise to
anyone.&nbsp; You further acknowledge that, by acceptance of your submission,
Pit Rho does not waive any rights to use similar or related Feedback previously
known to Pit Rho, or developed by its employees, or obtained from sources other
than you.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">6.&nbsp; GROUP MESSAGING AND TEXTMESSAGES ON THE SERVICE</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Overview of Messages and Fees.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Pit Rho may allow you to send SMStext
messages through our Service to other Users or to third parties (“Messages”)
when you add &nbsp;members to a Group on the Service or when you share an
article or other content with members of a Group. Pit Rho may send administrative
SMS text messages to you and to the recipients of your Messages in connection
with your Messages, including instructions on how to stop receiving
Messages.&nbsp; You must obtain express consent from any non-Users before
adding them to your Group (thereby sending them a Message). Pit Rho is not
responsible for any SMS text messages sent to non-Users&nbsp;when you add those
non-Users to your Group&nbsp;or share articles and other content with members
of your Group.&nbsp; While&nbsp;Pit Rho does not charge a fee for sending or
receiving Messages through the Service, standard text messaging rates may
apply, and you acknowledge and agree that you shall be solely responsible for
all such fees.&nbsp;</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Opting out of Messages.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">If you no longer wish to receive
Messages, you may text “STOP” to the number you received the message from, or
e-mail us at&nbsp;</span><span style="mso-field-code:&quot; HYPERLINK \0022mailto\:support\@pitrho\.com\0022 \\t \0022_blank\0022 &quot;"><b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">support@pitrho.com</span></b></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">.&nbsp;Opting out of Messages will
not remove you from any Group.&nbsp; To remove yourself from a Group, please
follow the instructions on the Service.&nbsp; Pit Rho will use commercially
reasonable efforts to ensure that Users may not forward any Pit Rho articles or
other content to a non-User who replied “STOP” to a previously forwarded
message.&nbsp;&nbsp;<b>&nbsp;</b></span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">7. &nbsp;PIT RHO'S COPYRIGHT POLICY</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Pit Rho requires
that Users of the Service respect the copyright and other intellectual property
rights of all third parties. In accordance with the Digital Millennium
Copyright Act (“DMCA”), Pit Rho will terminate, where warranted as determined
in Pit Rho’s sole discretion, Users whom Pit Rho believes are intentional
and/or repeat infringers.</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">If you believe that
your copyright in any material has been infringed on the Site, please send a
"DMCA Notice" described below to Pit Rho’s DMCA Agent.&nbsp; For your
DMCA Notice to be valid under the law, you must provide the following
information in writing:&nbsp;</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">a.&nbsp;
Identification of the copyrighted work that you claim has been infringed.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">b.&nbsp;
Identification of the material that you claim is infringing, with sufficient
detail so that Pit Rho may readily locate it.&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">c.
&nbsp;Information sufficient to permit Pit Rho to contact you such as your
name, address, telephone number, and e-mail address.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">d.&nbsp; A
statement declaring that you have a good faith belief that the use of the
material in the manner complained of is not authorized by the copyright owner,
its agent, or the law.&nbsp;</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">e.&nbsp; A
statement made under penalty of perjury that the above information in your
notice is accurate, and that you are the owner of the copyright interest
allegedly infringed or you are authorized to act on behalf of that owner.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">f. &nbsp;The
physical or electronic signature of the owner, or a person authorized to act on
behalf of the owner, of the copyright interest allegedly infringed.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">The DMCA Notice
must be submitted to the following DMCA Agent:</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Attn: DMCA Agent</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Pit Rho</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;;mso-fareast-font-family:
&quot;Times New Roman&quot;;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">UNDER FEDERAL LAW,
IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE
SUBJECT TO CRIMINAL PROSECUTION FOR PERJURY AND CIVIL PENALTIES, INCLUDING
MONETARY DAMAGES, COURT COSTS, AND ATTORNEYS’ FEES.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Please note that
this procedure is exclusively for notifying Pit Rho and its affiliates that
your copyrighted material has been infringed.&nbsp; The preceding requirements
are intended to comply with Pit Rho’s rights and obligations under the DMCA,
including 17 U.S.C. §512(c), but do not constitute legal advice.&nbsp; It may
be advisable to contact an attorney regarding your rights and obligations under
the DMCA and other applicable laws.</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">8.&nbsp; PRIVACY</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">We care about the
privacy of our Users. You understand that by using the Service you consent to
the collection, use and disclosure of your personally identifiable information
and aggregate data as set forth in our privacy policy, and to have your
Personally Identifiable Information collected, used, transferred to and
processed in the United States.&nbsp; Pit Rho cannot guarantee that
unauthorized third parties will never be able to defeat our security
measures.&nbsp; You acknowledge that you provide your information at your own
risk.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">9.&nbsp; MOBILE SOFTWARE</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Our Mobile Software</span></b><span style="font-size:
12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Times;color:#434343">&nbsp;(mobile apps).&nbsp; We make available the Mobile
Software to access the Service via a mobile device.&nbsp; To use the Mobile
Software you must have a mobile device that is compatible with the Mobile
Service.&nbsp; Pit Rho does not warrant that the Mobile Software will be
compatible with your mobile device.&nbsp; Pit Rho hereby grants you a
non-exclusive, non-transferable, revocable license to use a compiled code copy
of the Mobile Software for one Pit Rho account on one or more
mobile&nbsp;device owned or leased solely by you, for your personal use.&nbsp;
You may not: (i) modify, disassemble, decompile or reverse engineer the Mobile
Software, except to the extent that such restriction is expressly prohibited by
law; (ii) rent, lease, loan, resell, sublicense, distribute or otherwise
transfer the Mobile Software to any third party or use the Mobile Software to
provide time sharing or similar services for any third party; (iii) make any
copies of the Mobile Software; (iv) remove, circumvent, disable, damage or
otherwise interfere with security-related features of the Mobile Software,
features that prevent or restrict use or copying of any content accessible
through the Mobile Software, or features that enforce limitations on use of the
Mobile Software; or (v) delete the copyright and other proprietary rights
notices on the Mobile Software. You acknowledge that Pit Rho may from time to
time issue upgraded versions of the Mobile Software, and may automatically
electronically upgrade the version of the Mobile Software that you are using on
your mobile device.&nbsp; You consent to such automatic upgrading on your
mobile device, and agree that the terms and conditions of this Agreement will
apply to allsuch upgrades.&nbsp; Any third-party code that may be incorporated
in the Mobile Software is covered by the applicable open source or third-party
license EULA, if any, authorizing use of such code.&nbsp; The foregoing license
grant is not a sale of the Mobile Software or any copy thereof, and Pit Rho or
its third party partners or suppliers retain all right, title, and interest in
the Mobile Software (and any copy thereof).&nbsp; Any attempt by you to
transfer any of the rights, duties or obligations hereunder, except as
expressly provided for in this Agreement, is void.&nbsp; Pit Rho reserves all
rights not expressly granted under this Agreement.&nbsp; If the Mobile Software
is being acquired on behalf of the United States Government, then the following
provision applies: Use, duplication, or disclosure of the Mobile Software by
the U.S.Government is subject to restrictions set forth in this Agreement and
as provided in DFARS 227.7202-1(a) and 227.7202-3(a) (1995), DFARS&nbsp;</span><span style="mso-field-code:&quot; HYPERLINK \0022tel\:252\.227-7013\0022 \\t \0022_blank\0022 &quot;"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">252.227-7013</span></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">(c)(1)(ii) (OCT 1988), FAR 12.212(a)
(1995), FAR 52.227-19, or FAR 52.227-14 (ALT III), as applicable.&nbsp; The
Mobile Software originates in the United States, and is subject to United
States export laws and regulations.&nbsp; The Mobile Software may not be
exported or re-exported to certain countries or those persons or entities
prohibited from receiving exports from the United States.&nbsp; In addition,
the Mobile Software may be subject to the import and export laws of other
countries.&nbsp; You agree to comply with all United States and foreign laws
related to use of the Mobile Software and the Service.&nbsp; Standard carrier
data charges may apply to your use of our Mobile Software.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Mobile Software from iTunes.</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp; The following applies to any
Mobile Software you acquire from the iTunes Store (“iTunes-Sourced
Software”):&nbsp; You acknowledge and agree that this Agreement is solely
between you and Pit Rho, not Apple, and that Apple has no responsibility for
the iTunes-Sourced Software or content thereof.&nbsp; Your use of the
iTunes-Sourced Software must comply with the App Store Terms of Service.&nbsp;
You acknowledge that Apple has no obligation whatsoever to furnish any
maintenance and support services with respect to the iTunes-Sourced Software.&nbsp;
In the event of any failure of the iTunes-Sourced Software to conform to any
applicable warranty, you may notify Apple, and Apple will refund the purchase
price for the iTunes-Sourced Software to you; to the maximum extent permitted
by applicable law, Apple will have no other warranty obligation whatsoever with
respect to the iTunes-Sourced Software, and any other claims, losses,
liabilities, damages, costs or expenses attributable to any failure to conform
to any warranty will be solely governed by this Agreement and any law
applicable to Pit Rho as provider of the software.&nbsp; You acknowledge that
Apple is not responsible for addressing any claims of you or any third party
relating to the iTunes-Sourced Software or your possession and/or use of the
iTunes-Sourced Software, including, but not limited to: (i) product liability
claims; (ii) any claim that the iTunes-Sourced Software fails to conform to any
applicable legal or regulatory requirement; and (iii) claims arising under
consumer protection or similar legislation; and all such claims are governed
solely by this Agreement and any law applicable to Pit Rho as provider of the
software.&nbsp; You acknowledge that, in the event of any third party claim
that the iTunes-Sourced Software or your possession and use of that
iTunes-Sourced Software infringes that third party’s intellectual property
rights, Pit Rho, not Apple, will be solely responsible for the investigation,
defense, settlement and discharge of any such intellectual property
infringement claim to the extent required by this Agreement.&nbsp; You and Pit
Rho acknowledge and agree that Apple, and Apple’s subsidiaries, are third party
beneficiaries of this Agreement as relates toyour license of the iTunes-Sourced
Software, and that, upon your acceptance of the terms and conditions of this
Agreement, Apple will have the right (and will be deemed to have accepted the
right) to enforce this Agreement as relates to your license of the
iTunes-Sourced Software against you as a third party beneficiary thereof.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">10. INDEMNITY</span></b><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">You agree to
defend, indemnify and hold harmless Pit Rho, its parents, subsidiaries, agents,
affiliates, customers, vendors, officers and employees from and against any and
all claims, damages, obligations, losses, liabilities, costs or debt, and
expenses (including reasonable attorneys fees and cost) arising from: (i) your
use of and access to the Service; (ii) your violation of any term of this
Agreement;&nbsp; (iii) your violation of any third-party right, including
without limitation any right of privacy or Intellectual Property Rights; (iv)
your violation of any applicable law, rule, or regulation; (v) any claim or damages
that arise as a result of any of your User Content or any that is submitted via
your account or Pit Rho User ID.</span><span style="mso-ascii-font-family:Calibri;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;<b>&nbsp;11.
NO WARRANTY</b></span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">THE SERVICE,
INCLUDING ALL CONTENT, IS PROVIDED ON AN "AS IS" AND “AS AVAILABLE”
BASIS.&nbsp; USE OF THE SERVICE IS AT YOUR OWN RISK.&nbsp; THE SERVICE IS
PROVIDED WITHOUT WARRANTIES OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING,
WITHOUT LIMITATION, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
PARTICULAR PURPOSE OR NON-INFRINGEMENT.&nbsp; WITHOUT LIMITING THE FOREGOING,
PIT RHO, ITS AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT THE CONTENT ON
THE SERVICE IS ACCURATE, RELIABLE OR CORRECT; THAT THE SERVICE WILL MEET YOUR
REQUIREMENTS; THAT THE SERVICE WILL BE AVAILABLE AT ANY PARTICULAR TIME OR
LOCATION, UNINTERRUPTED OR SECURE; THAT ANY DEFECTS OR ERRORS WILL BE
CORRECTED; OR THAT THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL
COMPONENTS.&nbsp; ANY CONTENT DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE
OF THE SERVICE IS DOWNLOADED AT YOUR OWN RISK AND YOU WILL BE SOLELY
RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA, INCLUDING
USER CONTENT, THAT RESULTS FROM SUCH DOWNLOAD OR YOUR USE OF THE SERVICE.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">PIT RHO DOES NOT
WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY PRODUCT OR
SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE PIT RHO SERVICE OR
ANY HYPERLINKED WEBSITE OR SERVICE, OR FEATURED IN ANY BANNER OR OTHER
ADVERTISING, AND PIT RHO WILL NOT BE A PARTY TO OR IN ANY WAY MONITOR ANY
TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS OF PRODUCTS OR SERVICES.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">12. THIRD-PARTY LINKS, SITES AND SERVICES</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">The Service may
contain links to other&nbsp;websites, advertisers, services, special offers, or
other events or activities that are not owned or controlled by Pit Rho.&nbsp;
Because Pit Rho has no control over such sites and resources, you acknowledge
and agree that Pit Rho is not responsible for the availability of such external
sites or resources, and does not endorse and is not responsible or liable for
any content, advertising, products or other materials on or available from such
sites or resources. You further acknowledge and agree that Pit Rho shall not be
responsible or liable, directly or indirectly, for any damage or loss caused or
alleged to be caused by or in connection with use of or reliance on any such
content, goods or services available on or through any such site or
resource.&nbsp; You understand that these Terms of Service and our privacy
policy do not apply to your use of such sites.&nbsp; We encourage you to be aware
of when you leave the Service, and to read the terms and conditions and privacy
policy of any third-party website or service that you visit.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">13. LIMITATION OF LIABILITY</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">TO THE MAXIMUM
EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL PIT RHO, ITS AFFILIATES,
AGENTS, DIRECTORS, EMPLOYEES, SUPPLIERS OR ITS LICENSORS BE LIABLE UNDER
CONTRACT, TORT, STRICT LIABILITY, NEGLIGENCE OR OTHER LEGAL THEORY (I) WITH
RESPECT TO THE SERVICE OR ANY CONTENT THEREON FOR ANY LOST PROFITS OR SPECIAL,
INDIRECT, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES OF ANY KIND
WHATSOEVER, SUBSTITUTE GOODS OR SERVICES (HOWEVER ARISING), OR (II) FOR ANY
DIRECT DAMAGES IN EXCESS OF (IN THE AGGREGATE) $100, EVEN IF PIT RHO HAS BEEN
ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. UNDER NO CIRCUMSTANCES WILL PIT RHO
BE RESPONSIBLE FOR ANY DAMAGE, LOSS OR INJURY RESULTING FROM HACKING, TAMPERING
OR OTHER UNAUTHORIZED ACCESS OR USE OF THE SERVICE OR YOUR ACCOUNT OR THE
INFORMATION CONTAINED THEREIN.&nbsp; THE FOREGOING LIMITATION OF LIABILITY
SHALL APPLY TO THE FULLEST EXTENT PERMITTED BY LAW IN THE APPLICABLE
JURISDICTION.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">The Service is
controlled from its facilities in the United States.&nbsp; Pit Rho makes no
representations that the Service is appropriate or available for use in other
locations. Those who access or use the Service from other jurisdictions do so
at their own volition and are responsible for compliance with all applicable
United States and local laws and regulations, including but not limited to
export and import regulations.&nbsp; You may not use the Service if you are a
resident of a country embargoed by the United States, or are a foreign person
or entity blocked or denied by the United States government.&nbsp; Unless
otherwise explicitly stated, all materials found on the Service are solely
directed to individuals, companies, or other entities located in the United
States.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;&nbsp;<b>14.
TERMINATION OF YOUR ACCOUNT AND THE SERVICE</b></span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">Pit Rho may terminate
or suspend the Service in whole or in part and/or your Pit Rho account
immediately, without prior notice or liability, for any reason or for no
reason, including without limitation, if you breach any of the terms or
conditions of this Agreement. Upon termination of your account, your right to
use the Service will immediately cease.</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">If you wish to
terminate your Pit Rho account, you may discontinue using the Service by
sending an email message to&nbsp;</span><span style="mso-field-code:&quot; HYPERLINK \0022mailto\:support\@pitrho\.com\0022 \\t \0022_blank\0022 &quot;"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">support@pitrho.com</span></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp;with the words "Terminate
account" in the subject field.</span><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">All provisions of
this Agreement, which by their nature should survive termination, shall survive
termination, including, without limitation, ownership provisions, warranty
disclaimers, indemnity, and limitations of liability.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">15.&nbsp; GOVERNING LAW AND ARBITRATION</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; Governing Law.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">You agree that: (i) the Service shall
be deemed solely based in Colorado; and (ii) the Service shall be deemed a
passive one that does not give rise to personal jurisdiction over Pit Rho,
either specific or general, in jurisdictions other than Colorado.&nbsp; This
Agreement shall be governed by the internal substantive laws of the State of Colorado,
without respect to its conflict of laws principles.&nbsp; The application of
the United Nations Convention on Contracts for the International Sale of Goods is
expressly excluded.&nbsp; You agree to submit to the personal jurisdiction of a
state court located in Denver, Colorado or the United States District Court of Colorado,
for any actions for which we retain the right to seek injunctive or other
equitable relief in a court of competent jurisdiction to prevent the actual or
threatened infringement, misappropriation or violation of a our copyrights,
trademarks, trade secrets, patents, or other intellectual property or
proprietary rights, as further set forth in the Arbitration provision below.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Arbitration.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">For any dispute with Pit Rho, you
agree to first contact us at&nbsp;</span><span style="mso-field-code:&quot; HYPERLINK \0022mailto\:support\@pitrho\.com\0022 \\t \0022_blank\0022 &quot;"><b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">support@pitrho.com</span></b></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp;and attempt to resolve the
dispute with us informally.&nbsp; In the unlikely event that Pit Rho has not
been able to resolve a dispute it has with you after attempting to do so
informally, we each agree to resolve any claim, dispute, or controversy
(excluding any Pit Rho claims for injunctive or other equitable relief) arising
out of or in connection with or relating to this Agreement, or the breach or
alleged breach thereof (collectively, “Claims”), by binding arbitration by the
American Arbitration Association (“AAA”) under the Commercial Arbitration Rules
and Supplementary Procedures for Consumer Related Disputes then in effect for
the AAA, except as provided herein.&nbsp; Unless you and Pit Rho agree
otherwise, the arbitration will be conducted in the county where you reside.
Each party will be responsible for paying any AAA filing, administrative and
arbitrator fees in accordance with AAA rules.&nbsp; The award rendered by the
arbitrator shall include costs of arbitration, reasonable attorneys’ fees and
reasonable costs for expert and other witnesses, and any judgment on the award
rendered by the arbitrator may be entered in any court of competent
jurisdiction.&nbsp;Nothing in this Section shall prevent either party from
seeking injunctive or other equitable relief from the courts as necessary to
prevent the actual or threatened infringement, misappropriation, or violation
of that party’s data security, Intellectual Property Rights, or other
proprietary rights.&nbsp; ALL CLAIMS MUST BE BROUGHT IN THE PARTIES’ INDIVIDUAL
CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR
REPRESENTATIVE PROCEEDING, AND, UNLESS WE AGREE OTHERWISE, THE ARBITRATOR MAY
NOT CONSOLIDATE MORE THAN ONE PERSON’S CLAIMS.&nbsp; YOU AGREE THAT, BY
ENTERING INTO THIS AGREEMENT, YOU AND PIT RHO ARE EACH WAIVING THE RIGHT TO A
TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.&nbsp;<b>&nbsp;</b></span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">16. MISCELLANEOUS TERMS</span></b><span style="mso-ascii-font-family:
Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;
mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">a.&nbsp; No Agency; Waiver.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">No agency, partnership, joint
venture, or employment is created as a result of this Agreement and you do not
have any authority of any kind to bind Pit Rho in any respect whatsoever. The
failure of either party to exercise in any respect any right provided for
herein shall not be deemed a waiver of any further rights hereunder.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">b.&nbsp; Notification.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">Pit Rho may provide notifications,
whether such notifications are required by law or are for other business
purposes, to you via email notice, “push” notification on your mobile device,
written or hard copy notice, or through posting of such notice on the Service,
as determined by Pit Rho in our sole discretion. Pit Rho reserves the right to
determine the form and means of providing notifications to Users, provided that
you may opt out of certain means of notification as described in this
Agreement.&nbsp; Pit Rho is not responsible for any automatic filtering you or
your network provider may apply to email notifications we send to the email
address you provide us.&nbsp; We recommend that you add&nbsp;</span><span style="mso-field-code:&quot; HYPERLINK \0022mailto\:noreply\@pitrho\.com\0022 \\t \0022_blank\0022 &quot;"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">noreply@pitrho.com</span></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp;to your email address book to
help ensure you receive email notifications from us.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">c.&nbsp;&nbsp; Entire Agreement/Severability.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">This Agreement, together with any
amendments and any additional agreements you may enter into with Pit Rho in
connection with the Service, shall constitute the entire agreement between you
and Pit Rho concerning the Service.<b>&nbsp;&nbsp;&nbsp;&nbsp;</b>If any
provision of this Agreement is found to be unenforceable or invalid, that
provision shall be limited or eliminated to the minimum extent necessary so that
the Agreement shall otherwise remain in full force and effect and enforceable.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">d.&nbsp; Assignment.&nbsp;&nbsp;</span></b><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">This Agreement is not assignable,
transferable or sublicensable by you except with Pit Rho's prior written
consent. Pit Rho may transfer, assign or delegate this Agreement and its rights
and obligations without consent.<o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">e.&nbsp; Headings.</span></b><span style="font-size:12.0pt;
font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:
Times;color:#434343">&nbsp; The section titles in the TOS are used solely for
the convenience of you and Pit Rho and have no legal or contractual
significance.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-bidi-font-family:Times;color:#434343">&nbsp;<b>f.&nbsp;
Contact.</b>&nbsp; Please contact us at&nbsp;</span><span style="mso-field-code:
&quot; HYPERLINK \0022mailto\:support\@pitrho\.com\0022 \\t \0022_blank\0022 &quot;"><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#1155CC">support@pitrho.com</span></span><span style="font-size:12.0pt;font-family:Times;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-bidi-font-family:Times;color:#434343">&nbsp;with any questions regarding
this Agreement.</span><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p></o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;margin-bottom:12.0pt;
line-height:normal"><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:
&quot;Times New Roman&quot;;mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;
color:black"><o:p>&nbsp;</o:p></span></p>

<p class="MsoNormal" style="mso-margin-top-alt:auto;mso-margin-bottom-alt:auto;
line-height:normal"><b><span style="font-size:12.0pt;font-family:Times;
mso-fareast-font-family:&quot;Times New Roman&quot;;mso-bidi-font-family:Times;
color:#434343">This Agreement was last updated on:&nbsp;October 24, 2012</span></b><span style="mso-ascii-font-family:Calibri;mso-fareast-font-family:&quot;Times New Roman&quot;;
mso-hansi-font-family:Calibri;mso-bidi-font-family:Calibri;color:black"><o:p></o:p></span></p>

<p class="MsoNormal"><o:p>&nbsp;</o:p></p>

</div>
<br>
<br>