<div class="panel--textured panel--padded">
	<p>Pit Rho is a technology company focused exclusively on the mathematical modeling of motorsports. Our company's founders include MIT Ph.D.'s and entrepreneurs with deep experience in modeling, machine learning, and software development.  Currently, Pit Rho is the only company:
	</p>

	<ul>
		<li>
			Combining best–in–class capabilities in mathematical modeling, machine learning, and artificial intelligence with proven commercial software development skills
		</li>
		<li>
			Collaborating closely with a key team member with extensive NASCAR race engineering experience
		</li>
		<li>
			Composed of entrepreneurs with a track record of venture–backed technology companies
		</li>
	</ul>

	<p style="pre-list">Select Team Members:</p>
	<ul class="post-para">
		<li>
			<b>Erik Allen</b>:
			Founder of MIT baseball hedge fund, $500 to &gt; $200k in 4mo; Quantitative modeler in roles spanning Fortune 50 to start-ups; MIT Ph.D.
		</li>
		<li>
			<b>Kyle Jensen</b>:
			Founder of patent research firm PriorSmart, acquired by Nasdaq:RPXC; Expert in data science &amp; machine learning; MIT Ph.D.
		</li>
		<li>
		<b>Gilman Callsen</b>:
			Founder of MC10 Inc, developing stretchable electronics for athletic performance monitoring in collaboration with Reebok &amp; others; BA, Yale.
		</li>
		<li>
		<b>Josh Browne</b>:
			Race Team Program Manager. 18 years in various engineering and management roles within NASCAR and other professional motorsports.
		</li>
		<li>
		<b>Kevin Schaff</b>:
			Rights and Licensing Lead. Founder &amp; Chairman, T3 Media; Sports rights and licensing pioneer working with content leaders including the NCAA and Augusta National.
		</li>
	</ul>

	<p class="pre-list">Advisory Team:</p>
	<ul class="post-para">
		<li>
			<b>Joel Moxley</b>:
			Pit Rho business vision and investor. Founder, Foro Energy; MIT Ph.D.
		</li>
		<li>
			<b>Daryl Morey</b>:
			GM, Houston Rockets; Chair, MIT Sloan Sports Analytics Conference.
		</li>
		<li>
			<b>Carmichael Roberts</b>:
			General Partner, North Bridge Venture Partners, $2.5B under management.
		</li>
	</ul>


</div>