<div class="WordSection1">

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">Effective
Date:</span></b><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;"> September 24, 2012</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">This
Privacy Policy describes the privacy practices of Pit Rho Corporation d/b/a
Pit Rho ("Pit Rho", "we" or "us") in connection with the use of the
Pit Rho websites located at </span><a href="http://www.pitrho.com"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">www.pitrho.com</span></a>
<span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;"> and
*.pitrho.com,</span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;"> and all related
services (collectively, the "Service"). &nbsp;As used in this Privacy Policy,
the term "personally identifiable information" means any information that
readily may be used to identify an individual, including but not limited to a
first and last name, physical or email address, phone number or other contact
information.&nbsp; This Privacy Policy should be read alongside the <b><a href="20120924-pit-rho-terms-of-service.htm">Terms and Conditions of Service</a></b>.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">Pit Rho
does not automatically collect personally identifiable information in
connection with the Service unless you register with Pit Rho and sign in to the
Service, or unless you are invited by another user to receive Pit Rho email
alerts through the Service (as discussed more below). &nbsp;We do track certain
information about the visits to our website.&nbsp; We compile traffic-based
statistics that show the numbers and frequency of visitors to the Service and individual
web pages on the Service. The compilation is an aggregated statistical report
that we use internally to understand traffic on the Service, manage the Service,
and help diagnose any problems. Unless you are signed in to the Service</span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;"> or </span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">are invited by another
user to receive Pit Rho email alerts through the Service, these
statistical reports contain no personally identifiable information and are not
used to gather such information.&nbsp; </span><span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;">We also record information from your computer
and browser, including your IP address, Pit Rho cookie information (as
discussed more below), and software attributes.&nbsp; </span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">When you
register with Pit Rho and sign in to the Service, or when you are invited by
another user to receive Pit Rho email alerts through the Service,
Pit Rho may collect the following additional information:</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
text-indent:-.25in;line-height:normal"><span style="font-size:12.0pt;
">*<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">your
name;</span></p>

<p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
text-indent:-.25in;line-height:normal"><span style="font-size:12.0pt;
">*<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">your
contact information, such as email address and/or physical address;</span></p>

<p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
text-indent:-.25in;line-height:normal"><span style="font-size:12.0pt;
">*<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">the
names of the individuals whom you have invited to receive Pit Rho email
alerts through the Service; </span></p>

<p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
text-indent:-.25in;line-height:normal"><span style="font-size:12.0pt;
">*<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">information
relating to the links that you click on and emails that you open through the
Pit Rho email alerts (which information is collected through Pit Rho
user-specific links and web beacons, as discussed more below); and</span></p>

<p class="MsoListParagraph" style="margin-bottom:0in;margin-bottom:.0001pt;
text-indent:-.25in;line-height:normal"><span style="font-size:12.0pt;
">*<span style="font:7.0pt &quot;Times New Roman&quot;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span></span><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">the
names of individuals who invited you to receive Pit Rho email alerts
through the Service.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">We use cookies
if you register with Pit Rho and sign in to the Service. A cookie is a small
string of data which often includes an anonymous unique identifier sent to your
browser from a websites' computers, and stored on your computer's hard
drive.&nbsp; Our use of cookies enables us to save temporary searches and track
user sessions, neither of which actions make use of personally identifiable
information unless you are signed in to the Service. Cookies are used to store
and sometimes track your preferences in order to provide you with a customized
and personalized experience. Cookies enable the Service to recognize your
Internet browser and tell us how and when pages on the Service are visited and
by how many users.&nbsp;You can adjust your browser settings to accept all
cookies, refuse all cookies, or to notify you when a cookie is being placed on
your hard drive. &nbsp;However, if you reject all cookies, it may diminish your
experience with the Service because of additional time needed to enter your
information repeatedly, and you may not be able to access some of the Service.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">We use user-specific
web-links and web beacons in Pit Rho email alerts to collect information
relating to the links that you click on and emails that you open through the
Pit Rho email alerts.&nbsp; These user-specific links and web beacons
are small snippets of code contained in Pit Rho email alerts.&nbsp; If
you prefer not to receive user-specific links and web beacons and want to
unsubscribe to Pit Rho email alerts, you may unsubscribe by clicking
"Unsubscribe" in any Pit Rho email alert or by contacting us at
help@pitrho.com.</span></p>

<p>We use information gathered through the Service for the following general
purposes: to fulfill your requests for information or services, improve the
Service, contact you, conduct research, and provide anonymous reporting for
internal and external clients. </p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">We will
not sell or otherwise provide your personal information to third parties other
than our third party service providers who will be obligated to follow this
Privacy Policy.&nbsp; We may transfer your personal information if we are
acquired by or merged with another company, in which event we will notify you
before your personal information is transferred and becomes subject to a
different privacy policy.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">We may also
disclose personal information collected through the Service if we believe it is
necessary in order to investigate, prevent, or take action regarding illegal
activities, suspected fraud, situations involving potential threats to the
physical safety of any person, or violations of our Terms and Conditions of
Service; to protect and defend our rights and interests and those of our users;
or as otherwise required by law.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">Unfortunately,
the transmission of information via the Internet or e-mail is not completely
secure. Although we will do our best to protect personal information that you
submit to us, we cannot guarantee the security of your data transmitted to the
Service.&nbsp; Any transmission is at your own risk. Once we have received your
information, we will use strict procedures and security features to try to
prevent unauthorized access.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">This
Privacy Policy does not apply to third-party websites that may be accessed
through the Service. We may provide links to other websites that contain
information that we believe may be useful to you or that you will find
valuable. But we have not investigated the security of those linked websites,
and you should not assume those sites have a privacy policy equivalent to ours.
If you access such a third party website through a link we provide, you will be
subject to the privacy policy of the new site. We are not responsible for the
contents of any linked third party web pages referenced through the Service. If
you have any questions regarding the privacy, security, or content of any third
party websites, you should contact the appropriate contact(s) at those websites
directly.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">We may
update this Privacy Policy, and any updates will be effective upon posting through
the Service. We encourage you to periodically check back and review this
Privacy Policy so that you always know what information we collect, how we use
it, and if and to whom we may disclose it.&nbsp; You may update the personal
data you provide to us during registration by contacting us at
help@pitrho.com.</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">&nbsp;</span></p>

<p class="MsoNormal" style="margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal"><span style="font-size:12.0pt;font-family:&quot;Times New Roman&quot;">If you
have any questions concerning this Privacy Policy, please contact us at </span><a href="mailto:legal@pitrho.com"><span style="font-size:12.0pt;font-family:
&quot;Times New Roman&quot;">legal@pitrho.com</span></a><span style="font-size:12.0pt;
font-family:&quot;Times New Roman&quot;">.</span></p>

<p class="MsoNormal"><span style="font-size:12.0pt;line-height:115%;font-family:
&quot;Times New Roman&quot;">&nbsp;</span></p>

</div>