.pitrho_nav_logo {
	width: 183px;
	height: 40px;
	margin: 5px 5px 0;
	padding: 0;
	background: url(http://fantasy.pitrho.com.s3-website-us-east-1.amazonaws.com/images/logo_183x40_black.png);
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/*select { 
   padding-left: 10px;
   margin-left: 20px;
   margin-right: 20px;
}*/

body {
  padding-top: 60px;
}

.navbar-nav a {
  font-size:1.5em;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#raceSelector .form-control{
  padding-top:0px;
  padding-bottom:0px;
  height:30px;
}

body {
  font-family: Lato,sans-serif!important;54
  font-size: 18px!important;
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px!important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

#raceQuery {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
#raceSelector {
  border-style: none;
}