<div class="container-full">
		
<div id="content-row" class="row row-full">
<div class="col-md-12 col-full">
	<div id="panel--header" class="parallax-parent" data-stellar-offset-parent="true">
		<div id="panel--header-text-container" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" style="display: block; top: 84.2px;">
			<h1>
				Data, analytics, and insights for motorsports.</h1>
		</div><!-- end text-container -->
	</div>

	<div class="panel--textured panel--padded">
			<p>Racing business fundamentals and performance differentiation are increasingly more complex and challenging, yet innovation for in–race strategy has historically been incremental. Over the past two decades, advances in quantitative data analysis and technology have introduced a step change in leading edge strategies in Major League Baseball (e.g. Billy Beane, GM of the Oakland Athletics) and the NBA (e.g. Daryl Morey, GM of the Houston Rockets). Race strategy tools are now increasingly common in Formula One racing; however, the uniquely complex nature of NASCAR race events has thus far prevented quantitative strategy tools from making significant inroads into raceday decision making.</p>

			<p class="centered">
				<a href="http://www.pitrho.tv" title="Pit Rho Race Analysis" target="_blank">
					<span class="glyphicon glyphicon-new-window"></span>
					&nbsp;
					Access Pit Rho Race Analytics
				</a>
			</p>
	</div>

	<br>
	<br>

	<!-- * * * * * Fantasy * * * * * -->
	<div class="panel--textured panel--padded">
			<p>Pit Rho's primary business is developing fan–oriented motorsports content, including a "second–screen" application for watching NASCAR races as well as fantasy analysis and predictions. Our business vision is that quantitative data enables</p>
			<ul>
				<li>Greater fan engagement &amp; demographics</li>
				<li>An unparalleled "second–screen" viewing experience</li>
				<li>Upgraded rights values and new rights opportunities</li>
			</ul>
			<p>Pit Rho's founders are convinced that building analytics and software to the standards of premier race teams will also meet the needs of the most demanding fans and fantasy drivers.</p>

			<p class="centered">
				<a href="https://github.com/pitrho/motorsports-historic-data-api" title="Pit Rho Historic Motorsports API" target="_blank">
					<span class="glyphicon glyphicon-new-window"></span>
					&nbsp;
					Access the Pit Rho Historic Motorsports API
				</a>
			</p>
	</div>
</div> <!-- end col-md-12 -->
</div> <!-- end row -->
</div>